.emotions{
    width: 1000px;
    margin: auto;
    text-align: center;
    color: aqua;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.emotions h3{
    font-size: 35px;
}

.sad{
    width: 450px;
    border: 2px solid aqua;
    padding: 20px;
}

.happy{
    width: 450px;
    border: 2px solid aqua;
    padding: 20px;
}

.sad-img{
    background: url('./../assets/blind.jpg') top center/cover;
    height: 400px;
    margin: 20px 0px;
}

.happy-img{
    background: url('./../assets/books.webp') center center/cover;
    height: 400px;
    margin: 20px 0px;
}

