main{
    min-height: 100vh;
}

.about-me{
    font-size: 25px;
    color: aqua;
    width: 1000px;
    padding: 50px;
    border: 2px solid aqua;
    margin: auto;
    margin-top: 100px;
    transition: 0.5s ease;
}

.about-me:hover{
    background-color: aqua;
    color: rgb(9, 14, 32);
}

.about-me h3{
    margin: 30px 0px;
    font-size: 40px;
    text-align: center;
}

.uni{
    font-size: 25px;
    color: aqua;
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.current-classes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.current-class{
    padding: 20px;
    text-align: center;
    margin: 30px;
    width: 300px;
    transition: 0.3s ease;
}

.class1{
    border: 2px solid #f5ae0a;
    color: #f5ae0a;
}
.class1:hover{
    background-color: #f5ae0a;
    color: rgb(9, 14, 32);
}


.class2{
    border: 2px solid #f5ed0a;
    color: #f5ed0a;
}
.class2:hover{
    background-color: #f5ed0a;
    color: rgb(9, 14, 32);
}


.class3{
    border: 2px solid #9bf50a;
    color: #9bf50a;
}
.class3:hover{
    background-color: #9bf50a;
    color:rgb(9, 14, 32);
}


.class4{
    border: 2px solid #0aa7f5;
    color:#0aa7f5;
}
.class4:hover{
    background-color: #0aa7f5;
    color:rgb(9, 14, 32);
}


.class5{
    border: 2px solid #0af5ca;
    color:#0af5ca;
}
.class5:hover{
    background-color: #0af5ca;
    color:rgb(9, 14, 32);
}

.class6{
    border: 2px solid #800af5;
    color:#800af5;
}
.class6:hover{
    background-color: #800af5;
    color:rgb(9, 14, 32);
}


.class7{
    border: 2px solid #f50ace;
    color:#f50ace;
}
.class7:hover{
    background-color: #f50ace;
    color:rgb(9, 14, 32);
}

