@import './nav.css';
@import './header.css';
@import './main.css';
@import './favourites.css';
@import './emotions.css';
@import './partners.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(9, 14, 32);
    font-family: "Poor Story";
}


footer{
    height: 300px;
}

a{
    text-decoration: none;
}

.color-purple{
    color:rgb(213, 44, 243);
}

.color-green{
    color: rgb(8, 244, 51);
}

.color-orange{
    color: #f5ae0a;
}

.color-pink{
    color: #f50a70;
}

.margin-50{
    margin: 50px;
}